<!DOCTYPE html>
<html>
    <head>
        <title>Greenwich Village</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../../css/bootstrap.min.css" rel="stylesheet" media="screen">
		<!-- Incluindo o jQuery que é requisito do JavaScript do Bootstrap -->
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <!-- Incluindo o JavaScript do Bootstrap -->
        <script src="../../js/bootstrap.min.js"></script>
    </head>
    <body>
        <h1> Greenwich Village </h1>
        <hr>
        <!--  form id="contact_form" action="#" method="POST" enctype="multipart/form-data" class="form-horizontal-->
        <form class="form-horizontal">
        	<div class="control-group">
        	<div class="controls">
                <label for="name">Nome Vendedor:</label><br>
                <input for="inputNome" type="text" placeholder="Digite o seu nome..." /><br>
                <label for="sobrenome">Sobrenome:</label><br>
				<input for="inputSobrenome" type="text" placeholder="Digite o seu sobrenome" /><br>  
            </div>
            <div class="controls">
				<label for="email">Email:</label><br />
				<input for="inputEmail" type="text" placeholder="Digite o seu email" /><br>
			 <input id="email" class="input" name="email" type="text" value="" size="30" /><br />
            </div>
            <div class="row">
				<label for="cpf">CPF:</label><br />
				<input id="adress" class="input" name="endereco" type="text" value="" size="30" /><br />
            </div>
            <div class="row">
                <label for="sexo">Sexo:</label><br />      
            </div>
            <div class="row">
                <label for="endereco">Endereço:</label><br />
                <input id="adress" class="input" name="endereco" type="text" value="" size="30" /><br />
            </div>
            <div class="row">
                <label for="telefone">Telefone:</label><br />
                <input id="adress" class="input" name="telefone" type="text" value="" size="30" /><br />
            </div>
            <div class="row">
                <label for="bairro">Bairro:</label><br />
                <input id="adress" class="input" name="bairro" type="text" value="" size="30" /><br />
            </div>
            <div class="row">
                <label for="cidade">Cidade:</label><br />
                <input id="adress" class="input" name="cidade" type="text" value="" size="30" /><br />
            </div>
            <div class="row">
                <label for="estado">Estado:</label><br />
                <input id="adress" class="input" name="Uf" type="text" value="" size="30" /><br />
            </div>
            <div class="row">
				<label for="Observacao">Observação:</label><br />
				<textarea id="Observação" class="input" name="Observção" rows="7" cols="30"></textarea><br />
            </div>
            <hr>
            <div class="row">
                <label for="estado">Usuario</label><br />
                <input id="adress" class="input" name="Uf" type="text" value="" size="30" /><br />
            </div>
            <div class="row">
                <label for="estado">Senha</label><br />
                <input id="adress" class="input" name="Uf" type="text" value="" size="30" /><br />
            </div>
            <div class="row">
                <label for="estado">Confirmar Senha</label><br />
                <input id="adress" class="input" name="Uf" type="text" value="" size="30" /><br />
            </div>
            <button class="btn btn-success" type="submit" >Cadastrar</button>
            </div>
        </form>       
    </body>
</html>